<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/leg">Legislation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vote">Votes</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Welcome to CC Clustering</h1>
    <p>vital data here</p>
</div>
</body>
</html>
